body{
    background: burlywood;
    color: brown;
    font-family: 'bookman' , cursive;
    font-size: 14px;
    
}

#container
{
    width: 60%;
    background: beige ;
    margin: 20px auto;
    overflow: auto;
    padding: 25px;
    
}

header{
    text-align: center;
    
    color: black;
    border: brown dashed 1px;
    
}

header h1{
    font-family: 'arial bold';
    font-weight: bold;
    margin: 0;
    padding: 0;
    
}

section{
    min-height:  height: 400px;
    
}

input[type = "submit"]{
    background:burlywood;
    border: 0;
    color: black;
    padding: 10px 15px;
    cursor:pointer;
    
}

#results h3{
    background: white;
    padding:10px;
    margin: 10px 0;
    
}

#results span{
    color:black;
    font-weight: bold;
}